{% extends 'master.html' %}
{% block body %}

<section id="form" style="margin-left: 30%;"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form"><!--login form-->
                    <h2>New User Sign Up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form  %}
                        {{ field.errors }}
                        <p>{{ field }}</p>
                        {% endfor %}

                        <button class="btn btn-default" type="submit"> Sign Up</button>
                        <br>
                        <span style="color: black; margin-left: 120px;">Already Have an Account &nbsp; &rarr;</span><a href="{% url 'login' %}">Login</a>
                    </form>
                </div><!--/login form-->
            </div>
            <!-- <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">sign up form -->
                    <!-- <h2>New User Signup!</h2>
                    <form action="#">
                        <input type="text" placeholder="Name"/>
                        <input type="email" placeholder="Email Address"/>
                        <input type="password" placeholder="Password"/>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div>
            </div> --> <!--/sign up form-->
        </div>
    </div>
</section><!--/form-->

{% endblock %}